.btn-pokemon {
    background-color: #f2cc52;
    border-color: #f2cc52;
    color: #000000;
  }
  
  .btn-pokemon:hover {
    background-color: #f2cc52;
    border-color: #f2cc52;
    color: #ffffff;
  }