<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <input type="text" class="form-control mb-3" placeholder="Buscar pokémon" [(ngModel)]="searchText" (keyup)="filterPokemon()">
      <div class="card-deck">
        <div class="card pokemon-card" *ngFor="let pokemon of filteredPokemon" (click)="selectPokemon(pokemon)">
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div *ngIf="selectedPokemon" class="card pokemon-details mb-3">
        <div class="card-body">
          <h3 class="card-title">{{ selectedPokemon.name }}</h3>
          <p class="card-text"><strong>Peso:</strong> {{ selectedPokemon.weight }} kg</p>
          <p class="card-text"><strong>Altura:</strong> {{ selectedPokemon.height }} m</p>
          <p class="card-text"><strong>Hablidades:</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let ability of selectedPokemon.abilities">
              {{ ability.ability.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="card pokemon-resumen">
        <div class="card-body">
          <h3 class="card-title"> Tabla de letras</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Letra</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let letter of alphabet">
                <td>{{ letter }}</td>
                <td>{{ getPokemonCountByLetter(letter) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

